DB_USER=<DB Username>
DB_PASS=<DB Password>
DB_IP=localhost
DB_NAME=<DB Name>
DB_PORT=5432
DB_SSLMODE=disable
PORT=<Backend Hosting Port>
ADMIN_API_KEY="hearth_admin_..."
PAIRING_CODE_SECRET="secret_pairing_code_value"